<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<!--This is my first template. Myself {{name}} from {{place}}-->
Enter text your below:
<form action="/analyzetext" method="get">
    <textarea name="text"></textarea>
    <br>
    <input type="checkbox" name="capitalize">Capitalize<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="rempunc">Remove Punctuations<br>
    <input type="checkbox" name="charcount">Character Count<br>
    <button type="submit">Convert text</button>

</form>
</body>
</html>